<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047212053015-f0go0svp16vnrhnnekp7i9v1kj2klagj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047212053015-f0go0svp16vnrhnnekp7i9v1kj2klagj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047212053015-e5uqoifotrjk81gai2rt0vap965rjt2d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnGMpZOVDroxvqyJ6O4uaOIGh1LkAPdTw</string>
	<key>GCM_SENDER_ID</key>
	<string>1047212053015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadali.buddiesgram</string>
	<key>PROJECT_ID</key>
	<string>social-network-app-6066e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-app-6066e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047212053015:ios:4c484a51d02f128d6b8252</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-app-6066e.firebaseio.com</string>
</dict>
</plist>